/* Importing work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@400;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;;
}
/* Shared Styles  */
/* Header styles  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    /* padding: 10px 240px; */
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 15px;
    color: rgba(19, 19, 19, 1);
}
/* banner styles  */
.banner{
    text-align: center;
}
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 20px 30px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.banner-desc{
    color: rgba(114, 114, 114, 1);
}
.banner>img{
    width: 80%;
}