/* Importing work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@400;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;;
}
/* Shared Styles  */
/* Header styles  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 10px;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    justify-content: space-around;
}
nav li{
    list-style: none;
    margin-right: 35px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 15px;
    color: rgba(19, 19, 19, 1);
}
/* banner styles  */
.banner{
    text-align: center;
}
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 20px 30px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
.banner-desc{
    color: rgba(114, 114, 114, 1);
    padding: 20px;
}
.banner>img{
    width: 80%;
    padding-bottom: 30px;
}

/* Main styles  */
main{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
}
.teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.quick-list{
    padding-right: 70px;
    padding-left: 40px;
}
.quick-list-title{
    font-size: 3rem;
    font-weight: 500;
    color: #727272;
}
.t2{
    color: #131313;
    font-weight: 700;
}
.t3{
    color: #FF900E;
    font-weight: 700;
}
.quick-list-para,.facts-desc{
    color: rgba(114, 114, 114, 1);
}
/* Facts section styles  */
.facts{
    padding:0px 20px;
}
.facts-desc{
    margin-top: -10px;
    padding-left: 20px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 100%;
    gap: 24px;
}
.card{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-weight: 600;
}
.card-stats{
    font-size: 2.8rem;
    color: rgba(66, 66, 66, 1);
    margin-bottom: 0;
}
.card-title{
    font-size: 1.25rem;
    color: rgba(114, 114, 114, 1);
    margin-top: 5px;
    padding: 0px 10px;
}
 /* Sponser section styles  */
 .sponser{
    text-align: center;
 }
 .sponsors-img-container{
    margin: 50px 0px;
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
 }
 .sponsors-img-container img{

    width: 165px;
 }
 /* Features section styles  */
 .features{
    display: flex;
    margin-top: 100px;
    gap: 100px
 }
 .features-content{
    padding-left: 50px;
 }
 .feature-card-title{
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 20px;
    color: #131313;
 }
 .features-card{
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 }
 .features-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
 }
.ten-years-badge{
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    font-size: 2rem;
    padding: 10px;
    width: 250px;
}
.ten-years-badge p{
    font-weight: 800;
}
/* Responsive header section  */
/* For mobile devices  */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .section-title{
        font-size: 3rem;
    }
    .teams{
        flex-direction: column;
        width: 100vw;
        padding: 0;
        text-align: center;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .facts{
        text-align: center;
    }
    .facts-card-container{
        flex-direction: column;
        padding-left: 20px;
    }
    .sponsors-img-container{
        flex-direction: column;
    }
}
/* For medium devices  */
@media screen and (min-width:577px) and (max-width:960px) {
    nav,.teams,.sponsors-img-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    .teams{
        width: 100vw;
        text-align: center;
        margin: 0 auto;
    }
    .quick-list{
        padding: 0 0;
    }
}
